[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Dulguun17
	email = dulguunlkh17@gmail.com
[core]
	editor = \"D:\\Microsoft VS Code\\bin\\code\" --wait
